.vector-field-demo {
    display: flex;
    flex-direction: column;
}

.vector-field-demo__controls {
    margin-bottom: 24px;
}

.vector-field-demo__mode-select {
    border: none;
    display: flex;
    justify-content: center;
}

.vector-field-demo__mode-select > *:not(:first-child) {
    margin-left: 16px;
}